<p><%= t("devise.mailer.confirmation_instructions.title", name: @email) %></p>

<p><%= t("devise.mailer.confirmation_instructions.confirm_description") %></p>
<p><%= t("devise.mailer.confirmation_instructions.confirm_explanation") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.confirm_link"), confirmation_url(@resource, confirmation_token: @token) %></p>
