<p><%= t("devise.mailer.password_change.title", name: @resource.email) %>!</p>

<p><%= t("devise.mailer.password_change.password_change_explanation") %></p>
<p><%= t("devise.mailer.password_change.warning") %></p>
