<p><%= t("devise.mailer.unlock_instructions.title", name: @resource.email) %></p>

<p><%= t("devise.mailer.unlock_instructions.locked_explanation") %></p>

<p><%= t("devise.mailer.unlock_instructions.unlock_explanation") %></p>

<p><%= link_to t("devise.mailer.unlock_instructions.unlock_link"), "https://yourfrontend.com?token=#{@token}" %></p>
